@model List<Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section productIndexViewOne
{
    
    <p>
        <a asp-action="Create">
            Add new product
        </a>
    </p>

    @foreach (var product in Model)
    {

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="/img/fruite-item-2.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@product.Category.Name</div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <h4>@product.Name</h4>
                    <p>@product.Description</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        @* <p class="text-dark fs-5 fw-bold mb-0">@product.Category.Name</p> *@
                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section productIndexViewTwo
{
    @foreach (var product in Model)
    {
        <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
                <img src="/img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@product.Category.Name</div>
            <div class="p-4 rounded-bottom">
                <h4>@product.Name</h4>
                <p>@product.Description</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                </div>
            </div>
        </div>
    }

}



